<?xml version="1.0" encoding="UTF-8"?>

<!--source https://www.callicoder.com/spring-boot-log4j-2-example/-->
<!--TODO e-mail for errors level-->

<configuration status="WARN" monitorInterval="30">

    <properties>
        <property name="LOG_PATTERN">
            %d{yyyy-MM-dd HH:mm:ss.SSS} %5p ${hostName} --- [%15.15t] %-40.40c{1.} : %m%n%ex
        </property>
    </properties>

    <appenders>
        <console name="ConsoleAppender" target="SYSTEM_OUT" follow="true">
            <PatternLayout pattern="${LOG_PATTERN}"/>
        </console>

        <!-- Rolling File Appender -->
        <RollingFile name="FileAppender" fileName="logs/log4j2-demo.log"
                     filePattern="logs/log4j2-demo-%d{yyyy-MM-dd}-%i.log">
            <PatternLayout>
                <Pattern>${LOG_PATTERN}</Pattern>
            </PatternLayout>
            <Policies>
                <SizeBasedTriggeringPolicy size="10MB"/>
            </Policies>
            <DefaultRolloverStrategy max="10"/>
        </RollingFile>
    </appenders>

    <loggers>
        <logger name="com.example.log4j2demo" level="debug" additivity="false">
            <appenderRef ref="ConsoleAppender"/>
        </logger>

        <root level="info">
            <AppenderRef ref="ConsoleAppender"/>
            <AppenderRef ref="FileAppender"/>
        </root>
    </loggers>

</configuration>