<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Spring Boot and Thymeleaf example</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="css/style.css"/>

</head>
<body>

<header th:fragment="header" class="padding-site">
    <div class="header">
        <nav>
            <ul class="menu">
                <li><a href="/">home</a></li>
                <li><a href="/hi">test</a></li>
                <li><a href="/chambers">js-table</a></li>
                <li><a href="/getChambers">restData</a></li>
                <li><img class="lang-icon" th:src="'img/' + ${#locale} + '.png'" alt="lang" src="1.png"></li>
            </ul>
        </nav>
    </div>
</header>


<footer th:fragment="footer">
    <div class="footer">
        <div class="footer-bottom">

            <div class="copyright">
                &copy;&nbsp;Copyright&nbsp;&mdash; INTERIOR 2016. All Rights Reserved.
            </div>

            <div class="social-networks">
                <i class="fab fa-facebook-f"></i>
                <i class="fab fa-twitter"></i>
                <i class="fab fa-google-plus-g"></i>
                <i class="fab fa-pinterest-p"></i>
            </div>

            <div class="terms">
                <a href="#">Terms &amp;&nbsp;Conditions</a>
                /
                <a href="#">Privacy policy &amp;&nbsp;Cookies</a>
            </div>

        </div>
    </div>


</footer>

</body>
</html>