<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <title>fragments</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>

<header th:fragment="header" class="padding-site">

    <div class="header">
        <script language="JavaScript" type="text/javascript" src="https://code.jquery.com/jquery-3.1.1.js"></script>
        <script>
            $(document).ready(
                function () {

                    var currentLang = '[[${#locale}]]';
                    var data = (currentLang === "ru_RU") ? "en_GB" : "ru_RU";
                    var langImgSrc = 'img/' + currentLang + ".png";
                    $(document).find(".lang-icon").attr("src", langImgSrc);

                    $(".lang-icon").click(function () {
                        $.ajax({
                            url: '',
                            type: 'GET',
                            data: {
                                lang: data
                            },
                            cache: false,
                            success: function () {
                                location.reload();
                            }
                        });
                    });
                }
            );
        </script>

        <nav>
            <ul class="menu">
                <li><a href="/" th:text="#{menu.home}">home</a></li>
                <li><a href="/hi" th:text="#{menu.test}">test</a></li>
                <li><a href="/chambers" th:text="#{menu.js}">js-table</a></li>
                <li><a href="/rest/getChambers" th:text="#{menu.rest}">restData</a></li>
                <li sec:authorize="isAnonymous()"><a href="/login" th:text="#{menu.login}">login</a></li>
                <li sec:authorize="isAuthenticated()">
                    <a href="#"
                       th:text="${#authentication.name + '(' + #authentication.principal.authorities[0] + ')'}">User
                        page</a>
                </li>
                <li sec:authorize="isAuthenticated()"><a href="/logout" th:text="#{menu.logout}">logout</a></li>
                <li><img class="lang-icon" alt="lang" src=""></li>
            </ul>
        </nav>
    </div>
</header>

<footer th:fragment="footer">
    <div class="footer">
        <div class="footer-bottom">

            <div class="copyright">
                &copy;&nbsp;Copyright&nbsp;&mdash; INTERIOR 2016. All Rights Reserved.
            </div>

            <div class="social-networks">
                <i class="fab fa-facebook-f"></i>
                <i class="fab fa-twitter"></i>
                <i class="fab fa-google-plus-g"></i>
                <i class="fab fa-pinterest-p"></i>
            </div>

            <div class="terms">
                <a href="#">Terms &amp;&nbsp;Conditions</a>
                /
                <a href="#">Privacy policy &amp;&nbsp;Cookies</a>
            </div>

        </div>
    </div>

</footer>

</body>
</html>