<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Spring Boot and Thymeleaf example</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="css/style.css"/>
</head>
<body>

<div th:replace="fragments :: header"></div>

<div class="padding-site product-table">
    <h3 th:text="${chambersCount}"></h3>

        <table border="1">

            <thead>
            <tr>
                <td>ID</td>
                <td>NAME</td>
                <td>ADDRESS</td>
            </tr>
            </thead>

            <tbody>
            <tr th:each="item : ${chambers}">
                <td class="order-product-id" th:text="${item.id}" th:col="ID"></td>
                <td class="name-column" th:text="${item.name}"></td>
                <td class="description-column" th:text="${item.address}"></td>
            </tr>
            </tbody>

        </table>

</div>

</body>
</html>