<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Spring Boot and Thymeleaf example</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="css/style.css"/>
</head>

<body>
<div class="container">

    <div th:replace="fragments :: header"></div>

    <div class="padding-site product-table">

        <h3 th:text="${chambersCount}"></h3>

        <table border="1" class="chamber-table">

            <thead>
            <tr>
                <th>ID</th>
                <th>NAME</th>
                <th>ADDRESS</th>
            </tr>
            </thead>

            <tbody>
            <tr class="click-row" th:each="item : ${chambers}" th:attr="onclick='document.location = /chambers?id=' + ${item.id}">
                <td class="id-column" th:text="${item.id}" th:col="ID"></td>
                <td class="name-column" th:text="${item.name}"></td>
                <td class="address-column" th:text="${item.address}"></td>
            </tr>
            </tbody>
        </table>

        <div th:replace="fragments :: footer"></div>

    </div>
</div>


</body>
</html>