<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title th:text="#{chambers.page.title}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>

<body>
<div class="container">

    <div th:replace="fragments :: header"></div>

    <div class="padding-site product-table">

        <h3 th:text="${chambersCount}"></h3>

        <table border="1" class="chamber-table">

            <thead>
            <tr>
                <th th:text="#{table.chamber.id}"></th>
                <th th:text="#{table.chamber.name}"></th>
                <th th:text="#{table.chamber.address}"></th>
            </tr>
            </thead>

            <tbody>
            <tr class="click-row" th:each="item : ${chambers}"
                th:attr="onclick='document.location = &quot;/chambers?id=' + ${item.id} + '&quot;;'">
                <td class="id-column" th:text="${item.id}" th:col="ID"></td>
                <td class="name-column" th:text="${item.name}"></td>
                <td class="address-column" th:text="${item.address}"></td>
            </tr>
            </tbody>

        </table>

        <div th:replace="fragments :: footer"></div>

    </div>
</div>


</body>
</html>