<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Spring Boot and Thymeleaf example</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="css/style.css"/>
</head>

<body>

<div class="container">
    <div th:replace="fragments :: header"></div>
    <div class="padding-site">

        <div class="login">
            <h2>Авторизация</h2>
            <form th:action="@{/login}" method="post">
                <div><input type="text" value="admin" name="login" placeholder="Логин"/></div>
                <div><input type="password" value="admin@123" name="password" placeholder="Пароль"/></div>
                <div><input class="login-button" type="submit" name="commit" value="Войти"/></div>

            </form>
        </div>

    </div>
</div>
<div th:replace="fragments :: footer"></div>


</body>
</html>