<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Spring Boot and Thymeleaf example</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="css/style.css"/>

    <script language="JavaScript" type="text/javascript" src="https://code.jquery.com/jquery-3.1.1.js"></script>
    <script language="JavaScript" type="text/javascript" src="/viewChamber.js"></script>

</head>

<body>
<div class="container">

    <div th:replace="fragments :: header"></div>

    <div class="padding-site product-table">


        <table border="1" class="chamber-table">
            <tbody>
            <tr>
                <td><strong>ID</strong></td>
                <td id="id-row"></td>

            </tr>

            <tr>
                <td><strong>NAME</strong></td>
                <td id="name-row"></td>
            </tr>

            <tr>
                <td><strong>ADDRESS</strong></td>
                <td id="address-row"></td>
            </tr>

            </tbody>
        </table>

        <div th:replace="fragments :: footer"></div>

    </div>
</div>


</body>
</html>